div{
    height: 50px;
    background-color: aqua;
    width: 100px;
    border: 2px dotted red;
    /* padding-left: 25px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 15px; */
    padding: 25px 35px 5px 15px ;

    /* border: radius 15px;  */

}
#one{
 border-radius: 50%; 
 padding: 25px;
}

