*{
    margin: 0%;
    padding: 0%;
    color: white;
}
#navbar{
    height:60px ;
    background-color: black;  
    text-decoration: none;
}
#logo{
    font-size: 25px;
    color: #f08804;
}
button{
    background-color: #f08804;
}

a{
    margin-right: 200px;
    text-decoration: none;
}
#one{
    height: 100px;
    width:100px ;
    border: 2px dotted black;
    background-color: rgba(255 ,0,0,0.5);
    display: inline-block;
}
#two{
    height: 100px;
    width: 100px; 
    border: 2px dotted black;
    background-color: rgba(0 ,255,0,0.5);
    display: inline-block;
}
#three{
    height: 100px;
    width: 100px; 
    border: 2px dotted black;
    background-color: rgba(0 ,0,255,0.5);
    display: inline-block;
}
div{
    height: 620px;
}
footer{
    
    background-color: black;
    text-align:center ;
}


